<a href="https://colab.research.google.com/github/Kumarbegnier/Data-Science/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python

1Ô∏è‚É£ What is Python?

High-level, easy-to-read language

Used in AI, ML, Automation, Web, Data Science

No need to compile ‚Äî runs line by line

2Ô∏è‚É£ Your First Python Program

In [ ]:
print("Hello, World!")

üëâ print() is used to display output.

3Ô∏è‚É£ Variables (No data type declaration needed)

In [ ]:
x = 10
name = "Neeraj"
price = 99.5
is_active = True

print(x)
print(name)
print(price)
print(is_active)

10
Neeraj
99.5
True

üí° Python automatically understands the data type.

4Ô∏è‚É£ Data Types (VERY IMPORTANT)

In [ ]:
a = 10          # int
b = 3.14        # float
c = "Python"    # string
d = True        # bool

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# 5Ô∏è‚É£ User Input

In [ ]:

name = input("Enter your name: ")
print("Hello", name)

Enter your name: neeraj
Hello neeraj

‚ö†Ô∏è Input is always string by default.

In [ ]:
# Convert input:
age = int(input("Enter age: "))
print(age + 1)

Enter age: 27
28

6Ô∏è‚É£ Operators

In [ ]:
# Arithmetic
a = 10
b = 3

print(a + b) #add
print(a - b) #subtract
print(a * b) #multiply
print(a / b) #divide
print(a % b) #reminder
print(a ** b)   # power

13
7
30
3.3333333333333335
1
1000

**Comparison**

Python uses these operators to compare values:


| Operator | Meaning                  |
| -------- | ------------------------ |
| `==`     | Equal to                 |
| `!=`     | Not equal to             |
| `>`      | Greater than             |
| `<`      | Less than                |
| `>=`     | Greater than or equal to |
| `<=`     | Less than or equal to    |

In [ ]:
a = 10
b = 3

print(a == b)   # False
print(a != b)   # True
print(a > b)    # False
print(a < b)    # True
print(a >= 10)  # True
print(b <= 15)  # False

False
True
True
False
True
True

**Comparing Strings**

Strings are compared **lexicographically** (dictionary order).

In [ ]:
print("apple" == "apple")   # True
print("apple" < "banana")  # True
print("Zoo" > "apple")     # False (ASCII-based)

# ‚ö†Ô∏è Capital letters come before lowercase in ASCII.

**Comparing Numbers and Variables**

In [ ]:
x = 5
y = 5.0

print(x == y)   # True (value is same)
print(x is y)   # False (different memory location)

True
False

üîπ == ‚Üí compares value
üîπ is ‚Üí compares memory reference

**Comparing Lists, Tuples, Sets**

Lists / Tuples

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)   # True
print(a is b)   # False

True
False

Sets

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

print(set1 == set2)  # True (order doesn't matter)

True

Chained Comparisons (Python Special üî•)

Python allows multiple comparisons in one line:

In [ ]:
x = 15
print(10 < x < 20)   # True

# Equivalent to:

print(x > 10 and x < 20)

True
True

**Comparing Using if-else**

In [ ]:
a = 50
b = 30

if a > b:
    print("a is greater")
elif a < b:
    print("b is greater")
else:
    print("Both are equal")

a is greater

**Interview Tip**


  üëâAlways remember:

    **==**  checks equality

    **is** checks identity

    **Lists** compare element by element

    *Strings** compare using ASCII/Unicode values

**Deep vs Shallow Comparison**
üîπ Shallow Comparison (==)
üîπ Deep Comparison (Nested Objects)

**üîπ Shallow Comparison (==)**

Checks values at the top level.

In [ ]:
a = [[1, 2], [3, 4]]
b = [[1, 2], [3, 4]]

print(a == b)   # True

True

**üîπ Deep Comparison (Nested Objects)**

Use copy or deepcopy to understand behavior.

In [ ]:
import copy

a = [[1, 2], [3, 4]]
b = copy.deepcopy(a)

print(a == b)   # True
print(a is b)   # False

True
False

üëâ == ‚Üí content
üëâ is ‚Üí memory

Comparing Objects (Custom Class)
By default, objects are compared by **memory**.

In [ ]:
class Student:
    def __init__(self, marks):
        self.marks = marks

s1 = Student(90)
s2 = Student(90)

print(s1 == s2)  # False

‚úîÔ∏è Override __eq__ for Value Comparison

In [ ]:
class Student:
    def __init__(self, marks):
        self.marks = marks

    def __eq__(self, other):
        return self.marks == other.marks

s1 = Student(90)
s2 = Student(90)

print(s1 == s2)  # True

#üî• Very common interview question.

True

**Comparing Dictionaries**
Order doesn‚Äôt matter in dictionary comparison.

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"b": 2, "a": 1}

print(d1 == d2)  # True

True

Compare Only Keys or Values

In [ ]:
print(d1.keys() == d2.keys())      # True
print(d1.values() == d2.values())  # True

True
False

**Floating-Point** Comparison (Important ‚ö†Ô∏è)

In [ ]:
print(0.1 + 0.2 == 0.3)  # False ‚ùå
# Never compare floats directly.

False

In [ ]:
# Correct Way
import math

print(math.isclose(0.1 + 0.2, 0.3))  # True

True

Using operator Module
Cleaner and faster comparisons.

In [ ]:
import operator

print(operator.eq(10, 10))  # True
print(operator.gt(5, 3))    # True

True
True

**Sorting vs Comparison**

Sorting uses comparison internally.

In [ ]:
nums = [5, 1, 8, 3]
nums.sort()

print(nums)

[1, 3, 5, 8]

In [ ]:
#Custom Sort Comparison
students = [("Neeraj", 85), ("Amit", 90), ("Ravi", 80)]

students.sort(key=lambda x: x[1])
print(students)