<a href="https://colab.research.google.com/github/Kumarbegnier/Data-Science/blob/main/Python_string_Constructor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üîπ 5. Creating String Using str() **Constructor** (Python)


In Python, strings can be created using the str() constructor, which converts other data types into string format.


üî∏ Syntax

    str(object)

üî∏ Examples

    1Ô∏è‚É£ Creating a string from an integer


```
# This is formatted as code
```

In [3]:
num = 100       #int
s = str(num)    # str() constructor = converts other data types int into string
print(s)        # print string
print(type(s))  # <class 'str'>

100
<class 'str'>

2Ô∏è‚É£ Creating a string from a float

In [6]:
pi = 3.14         #float
s = str(pi)       # str() constructor = converts other data types Float into string
print(s)          # print string
print(type(s))    # <class 'str'>

3.14
<class 'str'>

3Ô∏è‚É£ Creating a string from a boolean

In [10]:
flag = True    #boolean
s = str(flag)  #convert boolean into string
print(s)       #print string
print(type(s))    # <class 'str'>

True
<class 'str'>

4Ô∏è‚É£ Creating a string from a list

In [12]:
lst = [1, 2, 3]
s = str(lst)
print(s)

[1, 2, 3]

5Ô∏è‚É£ Creating an empty string

In [13]:
s = str()
print(s)

üî∏ Why use str()?

‚úÖ Converts numbers or objects to string
‚úÖ Useful for printing, logging, and string concatenation
‚úÖ Prevents TypeError when joining strings with non-string data

üî∏ Interview Tip üí°

üëâ str() does not change the original data, it only creates a string representation of it.

In [16]:
#Example:
x = 10
print(type(x))
print("Value is " + str(x))

<class 'int'>
Value is 10